html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  overflow-x: hidden;
}

body {
  	/* @include background(linear-gradient(to bottom, rgba(0, 0, 0, 0) fade-out(black, .8)),
                          center center / cover url("pattern.png")); */
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xOTk5OTk5OTk5OTk5OTk5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), center center/cover url("happy-family.jpg");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2))), center center/cover url("happy-family.jpg");
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("happy-family.jpg");
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("happy-family.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("happy-family.jpg");
  padding-top: 20px;
}

.fa-stack-1x {
  color: #9fdf89;
}

a,
a:link,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover,
a:active {
  color: #4d4d4d;
  text-decoration: underline;
}

h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
}
h1 b {
  font-weight: 400;
}

h1 {
  line-height: 0;
  text-align: center;
}

h1 span {
  display: inline-block;
  position: relative;
}

h1 span:before,
h1 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  top: 0;
  width: 1200px;
}

h1 span:before {
  right: 100%;
  margin-right: 15px;
}

h1 span:after {
  left: 100%;
  margin-left: 15px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 40px 0 20px;
}

body > footer {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px 0;
  display: block;
  width: 100%;
}
body > footer small {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
body > footer.bottom {
  position: absolute;
  bottom: 0;
}

.main-menu {
  font-size: 2rem;
}
@media (min-width: 767px) {
  .main-menu {
    text-align: center;
  }
}
.main-menu > div {
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .main-menu span {
    display: block;
    margin: 0 auto;
  }
}
.main-menu .fa-university {
  left: 2px;
  bottom: 3px;
}
.main-menu .fa-comment {
  bottom: 3px;
}

.phrasebook-categories span {
  display: block;
  margin: 0 auto;
}
.phrasebook-categories .fa-plus {
  top: 2px;
}
.phrasebook-categories .fa-subway {
  top: 1px;
}
.phrasebook-categories > div {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.phrasebook .fa-subway {
  top: 1px;
}
.phrasebook p {
  font-size: 1.4rem;
  text-align: center;
}
.phrasebook .native {
  font-weight: 300;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
.phrasebook .foreign {
  font-weight: 400;
}
.phrasebook .item + .item {
  margin-top: 50px;
}
.phrasebook > div:last-child {
  padding-bottom: 50px;
}
.phrasebook .vote {
  display: none;
  text-align: center;
}
.phrasebook .vote p {
  font-size: 1.25rem;
}
.phrasebook .btn {
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  background: #a539c9;
  color: #fff;
}

.culture p {
  font-size: 1.25rem;
  padding-bottom: 25px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
.culture img {
  float: left;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1em;
}
.culture img.right {
  float: right;
}
.culture > div:last-child p {
  border: none;
  margin-bottom: 0;
}
