html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

body {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xOTk5OTk5OTk5OTk5OTk5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), center center/cover url("pattern.png");
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2))), center center/cover url("pattern.png");
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("pattern.png");
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("pattern.png");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), center center/cover url("pattern.png");
  padding-top: 20px;
}

h1 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 20px;
}

.main-menu {
  font-size: 2rem;
}
@media (min-width: 767px) {
  .main-menu {
    text-align: center;
  }
}
@media (min-width: 767px) {
  .main-menu span {
    display: block;
    margin: 0 auto;
  }
}
.main-menu .fa-stack-1x {
  color: #9fdf89;
}
.main-menu .fa-university {
  left: 2px;
  bottom: 3px;
}
.main-menu .fa-comment {
  bottom: 3px;
}
.main-menu a,
.main-menu a:link,
.main-menu a:visited {
  color: #333;
  text-decoration: none;
}
.main-menu a:hover,
.main-menu a:active {
  color: #4d4d4d;
  text-decoration: underline;
}

body > footer {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}
body > footer small {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
