<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>fluently | kategorie</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700&amp;subset=latin,latin-ext" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/bootstrap.min.css">
	<link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
  	<header>
	  	<h1><span><b>f</b>luently</span></h1>
	  	<h2>wybierz kategorię słówek</h2>
	</header>
  	<div class="container">
  		<div class="row phrasebook-categories">
  			<div class="col-xs-6">
  				<a href="/wypadki">
	  				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
					</span>
					wypadki
				</a>
  			</div>
  			<div class="col-xs-6">
  				<a href="/komunikacja">
	  				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-subway fa-stack-1x fa-inverse"></i>
					</span>
					komunikacja
				</a>
  			</div>
  			<div class="col-xs-6">
  				<a href="nocleg">
	  				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-bed fa-stack-1x fa-inverse"></i>
					</span>
					nocleg
				</a>
  			</div>
  			<div class="col-xs-6">
  				<a href="/jedzenie">
	  				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
					</span>
					jedzenie
				</a>
  			</div>
  			<div class="col-xs-12">
  				<a href="/ogolne">
	  				<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
					</span>
					ogólne
				</a>
  			</div>  			
  		</div>
  	</div>
  	<footer class="bottom">
  		<small>&copy; 2015</small>
  	</footer>
  	<script src="../static/jquery-2.1.4.min.js"></script>
  	<script src="../static/bootstrap.min.js"></script>
  	<script src="../static/script.js"></script>
  </body>
</html>